server:
  port: 8080
  servlet:
    context-path: /api/v1

spring:
  application:
    name: mbotamapay-backend
  datasource:
    url: jdbc:h2:mem:mbotamapay_db;DB_CLOSE_DELAY=-1;MODE=PostgreSQL
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: false
  thymeleaf:
    cache: false
  mail:
    test-connection: false

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always
