name: Keep Render Backend Alive

on:
  schedule:
    - cron: "*/10 * * * *" # toutes les 10 minutes
  workflow_dispatch:

jobs:
  ping:
    runs-on: ubuntu-latest

    steps:
      - name: Ping backend
        run: |
          response=$(curl -s -o /dev/null -w "%{http_code}" https://mbotamapay-backend.onrender.com/api/v1/actuator/health)
          echo "Health check response: $response"
          if [ "$response" != "200" ]; then
            echo "Health check failed with status: $response"
            exit 1
          fi
          echo "Health check passed!"
